<div class="education">
    <mat-card class="education-section">
        <mat-card-title id="title">Education</mat-card-title>
        <mat-card-content>
            <img id="nyu-logo" src="../../assets/images/nyu-logo.png">
            <h2>Bachelor of Arts in Computer Science, Minor in Business Studies</h2>
            <ul id="education-bullets">
                <li class="flower-dots">&#10047; GPA: 3.861/4.000</li>
                <li class="flower-dots">&#10047; Relevant Coursework: Data Structures, Computer Systems Organization, Data Management and Analaysis, Data Science for Everyone, 
                    Information Technology in Business & Society, Discrete Mathematics, Linear Algebra, Calculus I and II
                </li>
                <li class="flower-dots">&#10047; Honors:</li>
                    <ul id="honors-bullets">
                        <li class="flower-dots">&#10047; Dean's Scholarship: Offered a scholarship award to cover the full cost of tuition at NYU, renewable for four years of 
                            study; based on academic and personal achievements. Granted membership to the College's Presidential Honors Scholars Program (top ten percent of the 
                            entering first-year class).</li>
                        <li class="flower-dots">&#10047; NYS Scholarships for Academic Excellence: Awarded a scholarship of $500 per year for up to five years of undergraduate 
                            study. Given to outstanding New York State high school graduates. Nominated by high school to receive the scholarship (top 13 students of class).</li>
                        Awarded a scholarship of $500 per year for up to five years of undergraduate study. Given to outstanding New York State high school graduates. Nominated by high school to receive the scholarship (top 13 students of class).
                        <li class="flower-dots">&#10047; Dean's Honors List (x2): An honor roll of matriculated students who have achieved an average of 3.65 or higher for the academic year (September to May) in at least 28 graded points 
                            (earned for 2021-2022 and 2022-2023).</li>
                    </ul>
            </ul>
        </mat-card-content>
    </mat-card>
</div>