.navbar {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: start;
}

.left {
    display: flex;
    align-items: center;
}

.name {
    color: #A8C3F7
}

.right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.left ul, .right ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.left li {
    margin: 0.5rem 0;
    text-align: right;
    font-size: xx-large;
}

.right li {
    margin: 0.5rem 0;
    cursor: pointer;
    text-align: right;
    font-size: medium;
}

.active {
    color: #A8C3F7;
}

.right li:hover {
    text-decoration: underline;
    text-decoration-color: #A8C3F7;
}

.right li a {
    text-decoration: none;
    color: inherit;
}

.right li img {
    width: 1.5rem;
    height: auto;
}

.resume-wrapper {
    display: flex;
    align-items: center;
}

.resume-icon {
    filter: grayscale(100%);
    transition: filter 0.3s ease;
}

.resume-wrapper:hover .resume-icon {
    filter: none;
}

.resume-wrapper:hover{
    img {
        color: #A8C3F7;
    }
 }