<div class="navbar">
    <div class="left">
        <ul>
            <li class="name"><span class="flower1">✿</span>savina chan<span class="flower2">✿</span></li>
        </ul>
    </div>

    <div class="right">
        <ul>
            <li routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">about</li>
            <li routerLink="/experience" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">experience</li>
            <li><a href="mailto:savina.chan@nyu.edu">contact</a></li>
            <li>
                <a href="assets/savina_chan_resume.pdf" target="_blank">
                    <div class="resume-wrapper">
                        <span class="resume-text">resume</span>
                        <img class="resume-icon" src="assets/images/resume-icon.png">
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>