footer {
    bottom: 0;
    left: 0;
    position: fixed;
    background-color: rgba(255, 251, 246);
    width: 100%;
    p {
        text-align: center;
        color: black;
        font-size: 14pt;
        a {
            text-decoration: none;
            color: black;
        }
        #linkedin-logo {
            height: 20px;
            width: 20px;
        }
    }
}