<div class="about-me">
    <mat-card class="about-me-section">
        <mat-card-title>About Me</mat-card-title>
        <mat-card-content>
            <p>
                I am a rising junior at New York University's College of Arts & Science, majoring in 
                Computer Science with a minor in Business Studies. Growing up on Long Island, NY, with 
                immigrant parents of Chinese descent, my journey has been shaped by their influence and 
                my drive for success.<br>
                <br>
                My aspiration is to become a software engineer, and I have been working diligently to 
                acquire the necessary skills to excel in this field. Technology has always captivated my 
                interest, and from a young age, I found joy in providing IT support to family and friends. 
                My fascination with computer science began at the age of 10 when I discovered a game 
                called "MapleStory." This experience ignited my curiosity and led me to create my 
                private server and website using online guides and C++ templates. Ever since then, 
                computer science has become a gateway to explore my two passions: problem-solving and 
                crafting innovative experiences.<br>
                <br>
                The process of envisioning an experience, designing potential solutions, and bringing them 
                to life through coding brings me immense satisfaction. I find joy in transforming ideas 
                into tangible solutions that address specific user challenges. It is this end-to-end 
                journey that fuels my passion for computer science and motivates me to continually push 
                the boundaries of what is possible. I am excited about the future and the opportunities 
                that lie ahead, and I cannot wait to make a meaningful impact in the world through 
                technology. Thank you for visiting my portfolio website!
                </p>
        </mat-card-content>
    </mat-card>
</div>