<div class="about-me">
    <mat-card class="about-me-section">
        <mat-card-title>About Me</mat-card-title>
        <mat-card-content>
            <p>
                I am currently a rising senior at New York Univeristy, where I am majoring in Computer Science
                with a minor in Business Studies.
                <br>
                <br>
                Computer science serves as a gateway to explore my two passions: problem-solving and 
                crafting innovative experiences. The process of envisioning an experience, designing 
                potential solutions, and bringing them to life through coding brings me immense 
                satisfaction. I find joy in transforming ideas into tangible solutions that address 
                specific user challenges. It is this end-to-end journey that fuels my passion for 
                computer science and motivates me to continually push the boundaries of what is 
                possible. 
                <br>
                <br>
                As I look towards the future, I am excited about the opportunities that lie ahead. I
                am eager to leverage my skills and enthusiasm to make a meaningful impact in the world
                through technology. Thank you for taking the time to visit my portfolio website! 
            </p>
        </mat-card-content>
    </mat-card>
</div>