h3 {
    color: #A8C3F7;
}

.hackathons {
    margin-bottom: 2rem;
}

.details-1 {
    font-size: 0.8rem;
    color: #b9cff9;
}

.details-2 {
    font-size: 0.8rem;
    color: grey;
}

.compiler-io a {
    text-decoration: none;
    color: black;
}

.say-yes a {
    text-decoration: none;
    color: black;
}
