<h3><strong>HACKATHONS</strong></h3>
<div class="hackathons">
    <p>university at buffalo hacking fall 2023 | <span class="compiler-io"><a href="https://devpost.com/software/compiler-io">compiler.io</a></span></p>
    <p class="details-1">developer | won most creative use of github</p>
    <p class="details-2">a discord bot that streamlines student organization and planning, eliminating the need for multiple apps.</p>
</div>
<div class="hackathons">
    <p>powerup tech community hackathon summer 2023 | <span class="say-yes"><a href="https://devpost.com/software/team-18-c9hkrx">say yes to careers buffalo</a></span></p>
    <p class="details-1">front-end developer | won #1 place for non-profit category</p>
    <p class="details-2">a proof of concept web application for say yes to education buffalo (non-profit) to list full-time opportunities and track its progress for alumni.</p>
</div>