<h3><strong>HACKATHONS</strong></h3>
<div class="hackathons">
    <p><span class="ub-hacking"><a href="https://ubhacking.com/"><strong>university at buffalo hacking fall 2023</strong></a></span> | <span class="compiler-io"><a href="https://devpost.com/software/compiler-io"><strong>compiler.io</strong></a></span></p>
    <p class="details-1">developer | won most creative use of github</p>
    <p class="details-2">a discord bot that streamlines student organization and planning, eliminating the need for multiple apps.</p>
</div>
<div class="hackathons">
    <p><span class="powerup"><a href="https://www.techbuffalo.org/"><strong>powerup tech community hackathon summer 2023</strong></a></span> | <span class="say-yes"><a href="https://devpost.com/software/team-18-c9hkrx"><strong>say yes to careers buffalo</strong></a></span></p>
    <p class="details-1">front-end developer | won #1 place for non-profit category</p>
    <p class="details-2">a proof of concept web application for say yes buffalo (non-profit) to list full-time opportunities and track its progress for alumni.</p>
</div>