div {
    float: left;
}
.navbar{
    top: 0rem;
    left: 0rem;
    display: inline;
    width: 100%;
    background-color:  rgb(255, 251, 246);
    height: 5rem;
    position: fixed;
}

img {
    float: left;
    height: 3rem;
    padding-top: 1rem;
    padding-left: 1rem;
}

nav {
    padding-top: 1.5rem;
    float: right;
    a {
        padding-right: 2rem;
        text-decoration: none;
        font-size: 16pt;
        color: black;
    }
    a:hover {
        color: #617ecc;
    }
// C3CDE6
}
