<div class="experience">
    <mat-card class="experience-section">
        <mat-card-title id="title">Experience</mat-card-title>
        <mat-card-content>
            <img id="courant-logo" src="../../assets/images/courant-logo.png">
            <h2>Grader for Introduction to Computer Science | September 2023 – May 2024 | New York, NY</h2>
            <ul id="experience-bullets">
                <li class="flower-dots">&#10047; Evaluated Java programming assignments for a cohort of 50+ undergraduate students to assess analyze code quality, adherence to guidelines, and problem-solving techniques.</li>
                <li class="flower-dots">&#10047; Coordinated comprehensive and constructive feedback on assignments, identified areas for improvement, and proposed alternative solutions.</li>
                <li class="flower-dots">&#10047; Clarified students’ queries related to assignments and course concepts, offering clear explanations and guidance.</li>
                <li class="flower-dots">&#10047; Collaborated with professor to seek input on course-related issues and recommendations for course improvement.</li>
            </ul>
            <br>
            <img id="mt-bank-logo" src="../../assets/images/m&t-bank-logo.png">
            <h2>Software Engineer Intern | June 2023 – August 2023 | Buffalo, NY</h2>
            <ul id="experience-bullets">
                <li class="flower-dots">&#10047; Engineered Impediment History Application, empowering 4250+ Jira users across 551 projects to promptly identify project blockages and dependencies in real-time, leading to efficient resolutions and improved customer value delivery.</li>
                <li class="flower-dots">&#10047; Spearheaded implementation of a calendar plug-in in Jira, revolutionizing project management through enhanced visual work timeframes tracking.</li>
                <li class="flower-dots">&#10047; Streamlined integration of Jira with Miro, increasing team collaboration and communication.</li>
                <li class="flower-dots">&#10047; Participated in daily stand-up meetings, delivering invaluable progress insights concerning assigned Jira issues.</li>
                <li class="flower-dots">&#10047; Led multiple application demos for diverse teams to communicate latest updates and features.</li>
            </ul>
        </mat-card-content>
    </mat-card>
</div>