<h3><strong>PROJECTS</strong></h3>
<div class="projects">
    <p><span class="pomopengy"><a href="https://github.com/ELPhanNYC/pomo-pengy">pomopengy</a></span></p>
    <p class="details-1">angular, typescript, scss, express.js, mongodb</p>
    <p class="details-2">a productivity web application boosting task completion with achievements.</p>
</div>
<div class="projects">
    <p>impediment history application</p>
    <p class="details-1">c#, .net core, html, css, javascript</p>
    <p class="details-2">a real-time web application for m&t bank's jira users to track project blockages.</p>
</div>
<div class="projects">
    <p>pokémon center database (pokédex)</p>
    <p class="details-1">python</p>
    <p class="details-2">a virtual pokémon encyclopedia for easy management and access to information on various pokémon species.</p>
</div>