<h3><strong>PROJECTS</strong></h3>
<div class="projects">
    <p><span class="ratemyclass"><a href="https://github.com/savina-chan/rate-my-class"><strong>ratemyclass</strong></a></span></p>
    <p class="details-1">react, vite, javascript, chart.js, tailwind css, express, mongodb</p>
    <p class="details-2">a course review platform for nyu students to evaluate courses and make informed academic decisions.</p>
</div>
<div class="projects">
    <p><span class="hammyhuddle"><a href="https://github.com/savina-chan/hammy-huddle"><strong>hammy huddle</strong></a></span></p>
    <p class="details-1">angular, typescript, scss, express, mongodb</p>
    <p class="details-2">a hamster-focused social media platform to facilitate accurate information sharing and engagement among hamster owners.</p>
</div>
<div class="projects">
    <p><span class="pomopengy"><a href="https://github.com/savina-chan/pomo-pengy"><strong>pomopengy</strong></a></span></p>
    <p class="details-1">angular, typescript, scss, express, mongodb</p>
    <p class="details-2">a productivity web application boosting task completion with achievements.</p>
</div>
<div class="projects">
    <p><strong>impediment history application</strong></p>
    <p class="details-1">c#, .net core, javascript, html/css, microsoft sql server</p>
    <p class="details-2">a real-time web application for m&t bank's jira users to track project blockages.</p>
</div>