img {
    float: left;
    border-radius: 50%;
    height: 300px;
    width: 300px;
    object-fit: cover;
    border: 5px #C3CDE6 outset;
}
.headshot {
    width: 50%;
    display: block;
    margin: auto;
    display: flex; 
    justify-content: center; 
    align-items: center;
}
h1 {
    float: left;
    padding-left: 1rem;
    font-size: 35pt;
}