<h3><strong>WORK</strong></h3>
<div class="work">
    <p>it support specialist assistant &#64; <span class="nyu"><a href="https://cas.nyu.edu/"><strong>new york university</strong></a></span></p>
    <p class="details-1">spring 2025, fall 2024 | new york, ny</p>
    <p class="details-2">provide tech support, training, and instructional modules for nyu staff to ensure seamless operations.</p>
</div>
<div class="work">
    <p>grader (introduction to computer science) &#64; <span class="nyu"><a href="https://cs.nyu.edu/home/index.html"><strong>new york university</strong></a></span></p>
    <p class="details-1">spring 2025, fall 2024, spring 2024, and fall 2023 | new york, ny</p>
    <p class="details-2">grade assignments, provide feedback, and support nyu students in learning java.</p>
</div>
<div class="work">
    <p>technology intern &#64; <span class="mtb"><a href="https://www3.mtb.com/techhub"><strong>m&t bank</strong></a></span></p>
    <p class="details-1">summer 2023 | buffalo, ny</p>
    <p class="details-2">
        engineered impediment history application for jira users, enhanced project management with calendar plug-in, streamlined jira-miro integration, and led application demos.</p>
</div>