<h3><strong>WORK</strong></h3>
<div class="work">
    <p>introduction to computer science course assistant @ <span class="nyu"><a href="https://cs.nyu.edu/home/index.html"><strong>new york university</strong></a></span></p>
    <p class="details-1">fall 2024, spring 2024, and fall 2023 | new york, ny</p>
    <p class="details-2">evaluate java assignments for 50+ undergraduates, provide feedback, answer queries, and collaborate with the professor for course enhancement.</p>
</div>
<div class="work">
    <p>software engineer intern @ <span class="mtb"><a href="https://www3.mtb.com/techhub"><strong>m&t bank</strong></a></span></p>
    <p class="details-1">summer 2023 | buffalo, ny</p>
    <p class="details-2">
        engineered impediment history application for 4250+ Jira users in 551 projects, enhanced project management with calendar plug-in, streamlined jira-miro integration, and led application demos for teams.</p>
</div>