<h4>WORK</h4>
<div class="work">
    <p>introduction to computer science grader @ <span class="nyu"><a href="https://cs.nyu.edu/home/index.html">new york university</a></span></p>
    <p class="details-1">fall 2023 and spring 2024 | new york, ny</p>
    <p class="details-2">
        evaluated java assignments for 50+ students, assessing code quality and problem-solving. 
        provided detailed feedback and guidance, clarified student queries, and collaborated with the professor for course improvement.</p>
</div>
<div class="work">
    <p>software engineer intern @ <span class="mtb"><a href="https://www3.mtb.com/techhub">m&t bank</a></span></p>
    <p class="details-1">summer 2023 | buffalo, ny</p>
    <p class="details-2">
        developed impediment history application for 4250+ jira users, improving issue tracking. led jira plug-in and integration projects, enhancing project management and collaboration. 
        delivered progress insights in meetings and conducted application demos for teams.</p>
</div>