/* You can add global styles to this file, and also import other style files */
body {
    font-family: Montserrat;
    background-color: rgb(255, 251, 246);
    margin: 0px;
}
.left {
    clear: left;
}
.right {
    clear: right;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
