<div @fadeIn>
    <h2 class="greeting">hello ☻!</h2>
    <p>
        i'm a passionate full-stack developer majoring in computer science and minoring in business studies 
        at <span class="violet"><strong>new york university</strong></span>.
    </p>
    
    <p>
        i love coding, learning, and building. for me, computer science is a way to solve problems and create new things. 
        i enjoy turning ideas into real solutions that help people, and this motivates me to explore new possibilities.
    </p>
    
    <p>
        outside of programming, i enjoy trying new restaurants, building lego, collecting all things penguin,
        and admiring animals.
    </p>
    
    <p>
        i'm always eager to learn more and explore new opportunities. currently, i'm seeking full-time software 
        development positions.
    </p>
</div>