<div @fadeIn>
    <h2 class="greeting">hello ☻!</h2>
    <p>
        i'm currently a discover analyst i at the <span class="navy"><strong>federal reserve bank of richmond</strong></span> with a passion for cloud engineering.
        i graduated from <span class="violet"><strong>new york university</strong></span> with a b.a. in computer science and a minor in business studies.
    </p>
    
    <p>
        i love coding, learning, and building. for me, computer science is a way to solve problems and create new things. 
        i enjoy turning ideas into real solutions that help people, and this motivates me to explore new possibilities.
    </p>
    
    <p>
        outside of programming, i enjoy trying new restaurants, building lego, and hanging out with my corgi.
    </p>
    
    <p>
        i'm always eager to learn more and explore new possibilities. every new challenge is an opportunity to grow and make a meaningful impact.
    </p>
</div>